@font-face {
    src: url("../fonts/Megrim-Regular.ttf") format("truetype");
    font-family: Megrim;
}

@font-face {
    src: url("../fonts/Mulish-Regular.ttf") format("truetype");
    font-family: Mulish;
}

* {
    color: #14213D;
    font-family: Mulish, serif;
}

html, body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: rgba(255, 158, 0, 0.53);
    color: white;
    font-weight: bold;
}

.navbar-nav a:hover {
    border-bottom: 1px solid blanchedalmond;
}

#navbar > a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navbar > a {
    font-family: Megrim, serif;
    font-size: 24px;
    font-weight: bold;
}

#navbar .link {
    color: #1F1534;
}

#phone-num, #maill {
    padding-top: 15px;
    padding-left: 5px;
}

#cu {
    margin-bottom: 0px;
}

.phone, .mail {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer {
    background-color: #14213D;
    color: white;
    margin: 0 auto;
}

.link {
    color: white;
}

.footer-links, li {
    margin: 20px 20px;
}

.footer-name {
    margin: 20px 40px;
}

.copyright {
    margin: 20px 40px;
    opacity: 30%;
}

#main-title {
    font-family: Mulish, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #1F1534;
}

#main {
    margin: 60px auto 80px auto;
}

#main-title {
    margin-left: 80px;
}

#choose {
    margin: 45px auto 100px 80px;
}

#choose a {
    font-family: Mulish, sans-serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 40px;
    color: #1F1534;
    margin-right: 175px;
    text-decoration-line: underline;
}

#choose a:not(:first-child) {
    text-decoration: none;
}

#choose a:last-child {
    opacity: 0.5;
}

#choose a:hover {
    text-decoration-line: underline;
}

#rectangles {
    text-align: center;
}

.rect {
    width: 418px;
    height: 372px;
    background: #FFFFFF;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: inline-block;
    /*vertical-align: middle;*/
    text-align: center;
    font-size: 0;
}

.rect:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 25px;
}

#act {
    text-align: center;
}

#act button {
    background: #14213D;
    border-radius: 55px;
    font-family: Mulish, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 375px;
    height: 80px;
    margin: 120px auto 80px auto;
}

#act button:hover {
    text-decoration-line: underline;
}

.rect img {
    padding-top: 16px;
}

.card-title {
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #1F1534;
    margin-top: 10px;
}

.card-date, .more {
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #1F1534;
    opacity: 0.5;
    margin-bottom: 5px;
}

.more {
    text-decoration-line: underline;
}

#pop-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 9998;
}

#pop-rect {
    width: 1000px;
    height: 700px;
    position: fixed;
    background: #FFFFFF;
    border-radius: 15px;
    top: calc(50% - 350px);
    left: calc(50% - 500px);
    z-index: 9999;
    text-align: center;
}

#pop-rect #hotel {
    margin-top: 45px;
    position: relative;
}

#pop-rect #close {
    position: absolute;
    top: 20px;
    left: 20px;
}

#pop-rect #arrow1 {
    position: absolute;
    top: 162px;
    left: 90px;
}

#pop-rect #arrow2 {
    position: absolute;
    top: 162px;
    right: 90px;
    transform: rotate(180deg);
}

#more-main-info {
    max-width: 709px;
    margin: 20px auto 40px auto;
}

#rect-title {
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 12px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-right: 254px;
}
#location{
    display: inline-block;
    vertical-align: top;
    opacity: 0.8;
}
#location-title{
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: rgba(0,0,0,0.6);
    display: inline-block;
    vertical-align: bottom;
}
#location img{
    display: inline-block;
    vertical-align: bottom;
    opacity: 0.6;
}
#check{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: left;
    padding: 12px 0;
}
#check .title{
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #7E6D6D;
}
#check .date{
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 16px auto 4px auto;
}
#check .time{
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}
#check-in{
    display: inline-block;
    vertical-align: top;
    padding-right: 184px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}
#check-out{
    display: inline-block;
    vertical-align: top;
    padding-left: 80px;
}
#gen-info{
    margin-top: 12px;
    text-align: left;
}
#gen-info #title{
    margin-bottom: 10px;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #857878;
}
#gen-info #num, #gen-info #price{
    font-family: Mulish, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 5px;
}