@font-face {
    src: url("../fonts/Megrim-Regular.ttf") format("truetype");
    font-family: Megrim;
}

@font-face {
    src: url("../fonts/Mulish-Regular.ttf") format("truetype");
    font-family: Mulish;
}

* {
    color: #14213D;
    font-family: Mulish, serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar-nav a:hover {
    border-bottom: 1px solid blanchedalmond;
}

#navbar > a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navbar > a {
    font-family: Megrim, serif;
    font-size: 24px;
    font-weight: bold;
}

#navbar {
    background-color: rgba(255, 158, 0, 0.53);
    color: white;
    font-weight: bold;
}

#navbar .link {
    color: #1F1534;
}

.footer {
    background-color: #14213D;
    color: white;
    margin: 0 auto;
}

#cu {
    margin-bottom: 0px;
}

.phone, .mail {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#phone-num, #maill {
    padding-top: 15px;
    padding-left: 5px;
}

.link {
    color: white;
}

.footer-links, li {
    margin: 20px 20px;
}

.footer-name {
    margin: 20px 40px;
}

.copyright {
    margin: 20px 40px;
    opacity: 30%;
}

h1 {
    text-align: center;
}

.form-outer-container {
    margin: 40px auto;
    padding: 40px 40px;
    background-color: #EAEAEA;
    opacity: 92%;
}

#main {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.rect {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    color: white;
    text-align: center;
    border-radius: 50px;
}

.rect img {
    margin-top: 20px;
}

.flex {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 30px;
}

h2 {
    font-family: Mulish, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #1F1534;
}

#reception {
    margin-top: 50px;
}

#cleaning {
    margin-top: 80px;
}

.staff-name {
    font-weight: 600;
    font-size: 28px;
    color: #1F1534;
    margin-top: 15px;
}

.staff-type, .hours {
    font-weight: 600;
    font-size: 20px;
    color: #1F1534;
    opacity: 0.5;
    padding: 0 26px;
}

.staff-type {
    margin-bottom: 5px;
}

.hours {
    margin-bottom: 30px;
}

.see-more button {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 55px;
    background-color: #14213D;
    padding: 3px 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

/*MODAL*/
.modal{
    position: fixed;
    top: 50%;
    left:50%;
    transition: 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 15px;
    border-bottom: 1px solid black;
}
.modal-header .title{
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top:0;
    left:0;
    right:0;
    transition: 200ms ease-in-out;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
#overlay.active{
    pointer-events: all;
    opacity: 1;
}


@media screen and (max-width: 1100px) {
    .staff-name {
        font-size: 22px;
        margin-top: 5px;
    }

    .staff-type, .hours {
        font-size: 14px;
    }

    .see-more button {
        font-size: 18px;
    }

    .hours {
        margin-bottom: 24px;
    }
}