@font-face {
    src: url("../fonts/Megrim-Regular.ttf") format("truetype");
    font-family: Megrim;
}

@font-face {
    src: url("../fonts/Mulish-Regular.ttf") format("truetype");
    font-family: Mulish;
}

* {
    color: #14213D;
    font-family: Mulish, serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar-nav a:hover {
    border-bottom: 1px solid blanchedalmond;
}

#navbar > a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navbar > a {
    font-family: Megrim, serif;
    font-size: 24px;
    font-weight: bold;
}

#navbar {
    background-color: rgba(255, 158, 0, 0.53);
    color: white;
    font-weight: bold;
}

#navbar .link {
    color: #1F1534;
}

.footer {
    background-color: #14213D;
    color: white;
    margin: 0 auto;
}

#cu {
    margin-bottom: 0px;
}

.phone, .mail {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#phone-num, #maill {
    padding-top: 15px;
    padding-left: 5px;
}

.link {
    color: white;
}

.footer-links, li {
    margin: 20px 20px;
}

.footer-name {
    margin: 20px 40px;
}

.copyright {
    margin: 20px 40px;
    opacity: 30%;
}
