@font-face {
    src:url("../fonts/Megrim-Regular.ttf") format("truetype");
    font-family: Megrim;
}
@font-face {
    src:url("../fonts/Mulish-Regular.ttf") format("truetype");
    font-family: Mulish;
}
* {
    color: #14213D;
    font-family: Mulish, serif;
}

html, body {
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url(../images/mainbg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 1px;
}

form legend {
    font-size: 40px;
    color: white;
    font-weight: 400;
    text-align: center;
}


.search-bar form {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.search-bar form .inner-form {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 40px 40px 40px 40px;
}

.search-bar form .inner-form .input-field label{
    font-weight: 800;
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 0;
}
.search-bar form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 0px 32px 20px 32px;
  font-size: 16px;
  color: #555;
}


.search-bar form .inner-form .input-field input.placeholder {
  color: #888;
  font-size: 16px;
}

.search-bar form .inner-form .input-field.first-wrap {
  width: 180px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.search-bar form .inner-form .input-field.first-wrap input{
  border-bottom-left-radius: 40px;
}


.search-bar form .inner-form .input-field.second-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 160px;
}

.search-bar form .inner-form .input-field.third-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 160px;

}

.search-bar form .inner-form .input-field.fourth-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
    width: 180px;
}

.search-bar form .inner-form .input-field.fifth-wrap {
  width: 80px;
}

.search-bar form .inner-form .input-field.fifth-wrap .btn-search {
  height: 88px;
  width: 100%;
  white-space: nowrap;
  color: #fff;
  border: 0;
  cursor: pointer;
  background: #FCA311;
  border-radius: 0px 40px 40px 0px;
}

.search-bar form .inner-form .input-field.fifth-wrap .btn-search svg {
  width: 25px;
  margin-top: 5px;
}

@media screen and (max-width: 992px) {
  .search-bar form .inner-form .input-field.fifth-wrap .btn-search {
    height: 68px;
  }
  .search-bar form .inner-form .input-field {
  height: 68px;
  font-size: 12px;
}
.search-bar form .inner-form .input-field label{
    font-weight: 800;
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.search-bar form .inner-form .input-field input {
  height: 30px;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 0px 32px 20px 32px;
  font-size: 12px;
}
.search-bar form .inner-form .input-field.first-wrap {
    width: 167px;
}
.search-bar form .inner-form .input-field.second-wrap {
    width: 155px;
}
.search-bar form .inner-form .input-field.fourth-wrap {
    width: 210px;
}
}

@media screen and (max-width: 767px) {
    .search-bar form .inner-form .input-field label{
    margin-left: 15px;
}
  .search-bar form .inner-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px;
  }
  .search-bar form .inner-form .input-field.fifth-wrap .btn-search {
    border-radius: 40px;
    height: 50px;
  }

  .search-bar form .inner-form .input-field {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .search-bar form .inner-form .input-field input {
    padding: 10px 15px;
  }

  .search-bar form .inner-form .input-field.first-wrap {
    width: 100%;
    border-right: 0;
  }
  .search-bar form .inner-form .input-field.second-wrap {
    width: 100%;
    border-right: 0;
  }

  .search-bar form .inner-form .input-field.third-wrap {
    width: 100%;
    border-right: 0;
  }
  .search-bar form .inner-form .input-field.fourth-wrap {
    width: 100%;
    border-right: 0;
  }
  .search-bar form .inner-form .input-field.fifth-wrap {
    margin-bottom: 0;
    width: 100%;
    height: 50px;
    border-bottom: 0;
  }
}

#rectangle {
    background: white;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.3);
    margin: 120px auto;
    max-width: 920px;
}
#main-info {
    vertical-align: middle;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}
#main-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 56px;
    color: #14213D;
    text-align: center;
}
#main-title span{
    font-style: italic;
    color: #274377;
}

#main-description {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    max-width: 920px;
    text-align: center;
    margin: auto;
}

#navbar {
    background-color: rgba(255, 158, 0, 0.53);
    color: white;
    font-weight: bold;
}
.navbar-nav  a:hover{
    border-bottom: 1px solid blanchedalmond;
}
#navbar > a:hover{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#navbar > a{
    font-family: Megrim, serif;
    font-size: 24px;
    font-weight: bold;
}
#navbar .link {
    color: #1F1534;
}

#phone-num, #maill {
    padding-top: 15px;
    padding-left: 5px;
}

#cu {
    margin-bottom: 0px;
}

.phone, .mail {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer {
    background-color: #14213D;
    color: white;
    margin: 0 auto;
}

.link {
    color: white;
}

.footer-links, li {
    margin: 20px 20px;
}

.footer-name {
    margin: 20px 40px;
}

.copyright {
    margin: 20px 40px;
    opacity: 30%;
}

/*responsivenes updates*/
.mainIMG {
    width: 400px;
    height: 400px;
}

@media screen and (min-width: 1000px) {
    #main-pic {
        display: inline;
    }
}